<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<appSettings>
		<add key="ProjectDir" value="(MyDocuments)"/>
		<add key="ConsumerKey" value="your_consumer_key"/>
		<add key="ConsumerSecret" value="your_consumer_secret"/>
	</appSettings>
</configuration>
